<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- import Style -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <h1 style="color:white">EOS Testnet Monitor</h1>
        </el-header>
        <el-main>
            <el-tabs v-model="activeTabName" type="border-card" @tab-click="handleTabClick">
                <el-tab-pane label="Dashboard" name="dashboard" style="background:#eee;padding:20px">
                    <p>Total</p>
                    <el-row :gutter="20">
                        <el-col v-for="item in countGroup" :span="6">
                            <el-card class="box-card">
                                <div slot="header">
                                    <span>Total {{item.key}}</span>
                                </div>
                                <div>
                                    {{item.value}}
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                    <p>Last week</p>
                    <el-row :gutter="20">
                        <el-col v-for="item in countGroup" :span="6">
                            <el-card class="box-card">
                                <div slot="header">
                                    <span>{{item.key}}</span>
                                </div>
                                <div>
                                    {{item.value}}
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                    <p>Last 24 Hours</p>
                    <el-row :gutter="20">
                        <el-col v-for="item in countGroup" :span="6">
                            <el-card class="box-card">
                                <div slot="header">
                                    <span>{{item.key}}</span>
                                </div>
                                <div>
                                    {{item.value}}
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                    <p>Last Hours</p>
                    <el-row :gutter="20">
                        <el-col v-for="item in countGroup" :span="6">
                            <el-card class="box-card">
                                <div slot="header">
                                    <span>{{item.key}}</span>
                                </div>
                                <div>
                                    {{item.value}}
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                </el-tab-pane>
                <el-tab-pane label="Status" name="first" style="background:#eee;padding:20px">
                    <el-row style="background:#eee;padding:20px">
                        <el-col :span="24">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Get Info from Testnet</span>
                                    <el-button-group style="float: right;">
                                        <el-button @click="getInfo" type="primary" size="mini" plain>
                                            <i class="el-icon-refresh"></i>
                                            Refresh
                                        </el-button>
                                        <el-button @click="clear_var('infoMsg')" type="primary" size="mini"
                                                   plain>
                                            <i class="el-icon-circle-close-outline"></i>
                                            Clear
                                        </el-button>
                                    </el-button-group>
                                </div>
                                <div>
                                    <pre>{{infoMsg}}</pre>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                    <el-row style="background:#eee;padding:20px" :gutter="20">
                        <el-col :span="12">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Last 10 new Accounts</span>
                                    <el-button-group style="float: right;">
                                        <el-button @click="get_account_list" type="primary" size="mini" plain>
                                            <i class="el-icon-refresh"></i>
                                            Refresh
                                        </el-button>
                                        <el-button @click="clear_var('accountList')" type="primary" size="mini"
                                                   plain>
                                            <i class="el-icon-circle-close-outline"></i>
                                            Clear
                                        </el-button>
                                    </el-button-group>
                                </div>
                                <div v-loading="accountListLoading">
                                    <pre>{{accountList}}</pre>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="12">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Last 10 new Blocks</span>
                                    <el-button-group style="float: right;">
                                        <el-button @click="get_block_list" type="primary" size="mini" plain>
                                            <i class="el-icon-refresh"></i>
                                            Refresh
                                        </el-button>
                                        <el-button @click="clear_var('blockList')" type="primary" size="mini"
                                                   plain>
                                            <i class="el-icon-circle-close-outline"></i>
                                            Clear
                                        </el-button>
                                    </el-button-group>
                                </div>
                                <div v-loading="blockListLoading">
                                    <pre>{{blockList}}</pre>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                    <el-row style="background:#eee;padding:20px" :gutter="20">
                        <el-col :span="12">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Last 10 new Transaction</span>
                                    <el-button-group style="float: right;">
                                        <el-button @click="get_transaction_list" type="primary" size="mini" plain>
                                            <i class="el-icon-refresh"></i>
                                            Refresh
                                        </el-button>
                                        <el-button @click="clear_var('transactionList')" type="primary" size="mini"
                                                   plain>
                                            <i class="el-icon-circle-close-outline"></i>
                                            Clear
                                        </el-button>
                                    </el-button-group>
                                </div>
                                <div v-loading="transactionListLoading">
                                    <pre>{{transactionList}}</pre>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="12">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Last 10 new Messages</span>
                                    <el-button-group style="float: right;">
                                        <el-button @click="get_message_list" type="primary" size="mini" plain>
                                            <i class="el-icon-refresh"></i>
                                            Refresh
                                        </el-button>
                                        <el-button @click="clear_var('messageList')" type="primary" size="mini"
                                                   plain>
                                            <i class="el-icon-circle-close-outline"></i>
                                            Clear
                                        </el-button>
                                    </el-button-group>
                                </div>
                                <div v-loading="messageListLoading">
                                    <pre>{{messageList}}</pre>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                </el-tab-pane>

                <el-tab-pane label="Query" name="second" style="background:#eee;padding:20px">
                    <el-row style="background:#eee;padding:20px">
                        <el-col :span="24">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Query Account by account name or _id</span>

                                    <el-button @click="clear_var('accountMsg')" type="primary"
                                               size="mini"
                                               plain
                                               style="float: right;">
                                        <i class="el-icon-circle-close-outline"></i>
                                        Clear
                                    </el-button>
                                </div>
                                <div>
                                    <el-input v-model="accountName" placeholder="Account Name"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_account_by_name" type="primary" plain>By Name</el-button>

                                    <el-input v-model="accountId" placeholder="Account ID"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_account_by_id" type="primary" plain>By ID</el-button>
                                    <pre>{{accountMsg}}</pre>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>

                    <el-row style="background:#eee;padding:20px">
                        <el-col :span="24">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Query Last 10 Transactions by account name</span>

                                    <el-button @click="clear_var('transactionListByAccountName')" type="primary"
                                               size="mini"
                                               plain
                                               style="float: right;">
                                        <i class="el-icon-circle-close-outline"></i>
                                        Clear
                                    </el-button>
                                </div>
                                <div>
                                    <el-input v-model="accountName4Transaction" placeholder="account name"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_transaction_list_by_account_name" type="primary" plain>By
                                        Name
                                    </el-button>

                                    <pre>{{transactionListByAccountName}}</pre>
                                </div>

                            </el-card>
                        </el-col>

                    </el-row>

                    <el-row style="background:#eee;padding:20px">
                        <el-col :span="24">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Query Last 10 Messages by account name</span>

                                    <el-button @click="clear_var('messageListByAccountName')" type="primary" size="mini"
                                               plain
                                               style="float: right;">
                                        <i class="el-icon-circle-close-outline"></i>
                                        Clear
                                    </el-button>
                                </div>

                                <div>
                                    <el-input v-model="accountName4Message" placeholder="account name"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_message_list_by_account_name" type="primary" plain>By Name
                                    </el-button>

                                    <pre>{{messageListByAccountName}}</pre>
                                </div>

                            </el-card>
                        </el-col>

                    </el-row>

                    <el-row style="background:#eee;padding:20px">
                        <el-col :span="24">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Query Block by _id or block_id</span>
                                    <el-button @click="clear_var('blockMsg')" type="primary" size="mini" plain
                                               style="float: right;">
                                        <i class="el-icon-circle-close-outline"></i>
                                        Clear
                                    </el-button>
                                </div>

                                <div>
                                    <el-input v-model="block_id" placeholder="_id"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_block_by_id" type="primary" plain>By _id</el-button>

                                    <el-input v-model="block_b_id" placeholder="block_id"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_block_by_b_id" type="primary" plain>By block_id</el-button>

                                    <pre>{{blockMsg}}</pre>
                                </div>

                            </el-card>
                        </el-col>

                    </el-row>

                    <el-row style="background:#eee;padding:20px">
                        <el-col :span="24">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Query Transaction by _id or transaction_id</span>

                                    <el-button @click="clear_var('transactionMsg')" type="primary" size="mini" plain
                                               style="float: right;">
                                        <i class="el-icon-circle-close-outline"></i>
                                        Clear
                                    </el-button>
                                </div>
                                <div>
                                    <el-input v-model="transaction_id" placeholder="_id"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_transaction_by_id" type="primary" plain>By _id</el-button>

                                    <el-input v-model="transaction_t_id" placeholder="transaction_id"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_transaction_by_t_id" type="primary" plain>By transaction_id
                                    </el-button>

                                    <pre>{{transactionMsg}}</pre>
                                </div>

                            </el-card>
                        </el-col>

                    </el-row>

                    <el-row style="background:#eee;padding:20px">
                        <el-col :span="24">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>Query Message by _id or transaction_id</span>
                                    <el-button @click="clear_var('messageMsg')" type="primary" size="mini" plain
                                               style="float: right;">
                                        <i class="el-icon-circle-close-outline"></i>
                                        Clear
                                    </el-button>
                                </div>
                                <div>
                                    <el-input v-model="message_id" placeholder="_id"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_message_by_id" type="primary" plain>By _id</el-button>

                                    <el-input v-model="transaction_t_id" placeholder="transaction_id"
                                              style="width: 300px"></el-input>

                                    <el-button @click="get_message_by_t_id" type="primary" plain>By transaction_id
                                    </el-button>

                                    <pre>{{messageMsg}}</pre>
                                </div>

                            </el-card>
                        </el-col>

                    </el-row>
                </el-tab-pane>
                <el-tab-pane label="Console" name="third" style="background:#eee;padding:20px">
                    <p>Live Log Console base on WebSocket.</p>
                    <p>Comming soon.</p>
                </el-tab-pane>
                <el-tab-pane label="Batch Tasks" name="fourth" style="background:#eee;padding:20px">
                    <p>Batch Tasks Coming Soon</p>
                </el-tab-pane>
            </el-tabs>
        </el-main>
        <el-footer>
            <p>2018 EOS Testnet Monitor |
                <a href="https://forums.eosgo.io/discussion/112/create-a-block-explorer-for-eos"
                   target="_blank">Feedback</a>
                <a href="https://github.com/perebor3/eosmonitor.info"
                   target="_blank">Github</a>
            </p>

            <p>Donations: ETH 0x6603a0f83BfaFdA520694e23daA9aDd8d794ba10</p>

            <br>
        </el-footer>
    </el-container>


</div>

</body>

<!-- VueJs & Element-UI -->
<script src="https://unpkg.com/vue"></script>
<!--<script src="https://unpkg.com/element-ui"></script>-->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<!--<script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>-->

<!--<script>ELEMENT.locale(ELEMENT.lang.en)</script>-->

<!--axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    new Vue({
        el: '#app',
        data: {
            countGroup: [
                {
                    key: "accounts",
                    value: 33
                },
                {
                    key: "blocks",
                    value: 444
                },
                {
                    key: "transactions",
                    value: 5555
                },
                {
                    key: "messages",
                    value: 66666
                },
            ],
            accountListLoading: "false",
            blockListLoading: "false",
            transactionListLoading: "false",
            messageListLoading: "false",
            activeTabName: 'dashboard',
            testnetEndpoint: "testnet1.eos.io",
            nodeApiUrlBase: "http://api.eosmonitor.info:3000",
            httpRpcApiUrlBase: "http://api.eosmonitor.info:8888",
            accountName: "eos",
            accountId: "",
            block_id: "",
            block_b_id: "",
            transaction_id: "",
            transaction_t_id: "",
            message_id: "",
            accountName4Transaction: "",
            accountName4Message: "",
            infoMsg: "Message return from get info ...",
            accountList: [],
            accountMsg: {},
            blockList: [],
            blockMsg: {},
            transactionList: [],
            transactionListByAccountName: [],
            messageListByAccountName: [],
            transactionMsg: {},
            messageList: [],
            messageMsg: {}
        },
        created: function () {
            this.accountListLoading = false;
            this.blockListLoading = false;
            this.transactionListLoading = false;
            this.messageListLoading = false;
        },
        methods: {
            handleTabClick: function () {
                console.log("switch tab")
            },
            clear_var: function (varname) {
                this.$data[varname] = {};
            },
            // clear_account_list: function () {
            //     this.accountList = {};
            // },
            // clear_block_list: function () {
            //     this.blockList = {};
            // },
            // clear_transaction_list: function () {
            //     this.transactionList = {};
            // },
            // clear_message_list: function () {
            //     this.messageList = {};
            // },

            getInfo: function () {
                vm = this;
                axios.get(vm.httpRpcApiUrlBase + '/v1/chain/get_info')
                    .then(function (response) {
                        vm.infoMsg = response.data
                    })
                    .catch(function (error) {
                        vm.infoMsg = error.data
                    });
            },

            // Query List
            get_account_list: function () {
                vm = this;
                vm.accountListLoading = true;
                vm.accountList = {loading: '...'};
                axios.get(vm.nodeApiUrlBase + "/accounts/")
                    .then(function (response) {
                        vm.accountList = response.data;
                        vm.accountListLoading = false;
                    })
                    .catch(function (error) {
                        vm.accountList = error.data;
                        vm.accountListLoading = false;

                    });
            },
            get_block_list: function () {
                vm = this;
                vm.blockListLoading = true;
                vm.blockList = {loading: '...'};
                axios.get(vm.nodeApiUrlBase + "/blocks/")
                    .then(function (response) {
                        vm.blockList = response.data;
                        vm.blockListLoading = false;
                    })
                    .catch(function (error) {
                        vm.blockList = error.data;
                        vm.blockListLoading = false;
                    });
            },
            get_transaction_list: function () {
                vm = this;
                vm.transactionList = {loading: '...'};
                vm.transactionListLoading = true;
                axios.get(vm.nodeApiUrlBase + "/transactions/")
                    .then(function (response) {
                        vm.transactionList = response.data;
                        vm.transactionListLoading = false;
                    })
                    .catch(function (error) {
                        vm.transactionList = error.data;
                        vm.transactionListLoading = false;
                    });
            },
            get_message_list: function () {
                vm = this;
                vm.messageListLoading = true;
                vm.messageList = {"loading": "..."};
                axios.get(vm.nodeApiUrlBase + "/messages/")
                    .then(function (response) {
                        vm.messageList = response.data;
                        vm.messageListLoading = false;
                    })
                    .catch(function (error) {
                        vm.messageList = error.data;
                        vm.messageListLoading = false;

                    });
            },

            // Query by _id
            get_account_by_id: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/accounts/" + vm.accountId)
                    .then(function (response) {
                        vm.accountMsg = response.data
                    })
                    .catch(function (error) {
                        vm.accountMsg = error.data
                    });
            },
            get_block_by_id: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/blocks/" + vm.block_id)
                    .then(function (response) {
                        vm.blockMsg = response.data
                    })
                    .catch(function (error) {
                        vm.blockMsg = error.data
                    });
            },
            get_transaction_by_id: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/transactions/" + vm.transaction_id)
                    .then(function (response) {
                        vm.transactionMsg = response.data
                    })
                    .catch(function (error) {
                        vm.transactionMsg = error.data
                    });
            },
            get_message_by_id: function () {
                vm = this;
                axios.get("http://api.eosmonitor.info:3000/messages/" + vm.message_id)
                    .then(function (response) {
                        vm.messageMsg = response.data
                    })
                    .catch(function (error) {
                        vm.messageMsg = error.data
                    });
            },

            // special query
            get_account_by_name: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/accounts/name/" + vm.accountName)
                    .then(function (response) {
                        vm.accountMsg = response.data
                    })
                    .catch(function (error) {
                        vm.accountMsg = error.data
                    });
            },
            get_block_by_b_id: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/blocks/b/" + vm.block_b_id)
                    .then(function (response) {
                        vm.blockMsg = response.data
                    })
                    .catch(function (error) {
                        vm.blockMsg = error.data
                    });
            },
            get_transaction_by_t_id: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/transactions/t/" + vm.transaction_t_id)
                    .then(function (response) {
                        vm.transactionMsg = response.data
                    })
                    .catch(function (error) {
                        vm.transactionMsg = error.data
                    });
            },
            get_message_by_t_id: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/messages/t/" + vm.transaction_t_id)
                    .then(function (response) {
                        vm.transactionMsg = response.data
                    })
                    .catch(function (error) {
                        vm.transactionMsg = error.data
                    });
            },
            get_transaction_list_by_account_name: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/transactions/account/" + vm.accountName4Transaction)
                    .then(function (response) {
                        vm.transactionListByAccountName = response.data
                    })
                    .catch(function (error) {
                        vm.transactionListByAccountName = error.data
                    });
            },
            get_message_list_by_account_name: function () {
                vm = this;
                axios.get(vm.nodeApiUrlBase + "/messages/account/" + vm.accountName4Message)
                    .then(function (response) {
                        vm.messageListByAccountName = response.data
                    })
                    .catch(function (error) {
                        vm.messageListByAccountName = error.data
                    });
            }
        }
    });
</script>

<style>
    .el-header {
        width: 100%;
        height: 50px;
        background: #5b6270;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 0px;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

    }

    .body {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    }

    .el-footer {
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

    }

    .el-main {
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

    }

    .el-row {
        margin-bottom: 10px;
        /*:last-child {*/
        /*margin-bottom: 0;*/
        /*}*/
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

    }

    .el-col {
        border-radius: 4px;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

    }

</style>
</html>
